/**Aplicamos la fuente de google elegida a todo el texto*/
* {
    font-family: 'Lora', serif;
}

/**Definimos clases de estilo para algunos elementos puntuales*/
.fondo-gris-claro {
    background-color: lightgray;
}

.fuente-pequenia {
    font-size: 12px;
}

/**********************************************************************
* A continuación definimos los elementos HTML que se mostrarán al inicio
* y cuales se ocultarán para luego ser modificados por JavaScript.
 **********************************************************************/

#nombreHome, #seccionHome,
#fotoHome, #ocupacionHome {
    display: block;
}

#seccionInfo, #resumenTitulo, #acercaDeMiCuadro, #experienciaTitulo,
#educacionTitulo, #otraInfoTitulo, #experienciaCuadro,
#educacionCuadro, #otraInfoCuadro, #pruebaDeConceptoTitulo,
#pruebaDeConceptoParrafo {
    display: none;
}
